/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header-section .menu-section {
    width: 100%;
    padding: 5px 5px 0px;
  }
  .header-section .menu-section .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding-left: 50px;
  }
  .banner .banner-text {
    width: 100%;
    padding: 0px 0px;
    text-align: center
  }
  .banner .banner-text h1 {
    font-size: 26px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 15px;
    text-align: center;
  }
  .banner .banner-text h4 {
    font-size: 17px;
    font-weight: 600;
    color: #313841;
    margin-bottom: 22px;
    text-align: center;
  }
  .banner .banner-text p {
    font-size: 11px;
    line-height: 24px;
    font-weight: 400;
    color: #555555;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 45px;
    text-align: center;
  }
  .banner .banner-text .btn-image {
    margin: 0px auto 40px;
  }
  .feature .title {
    width: 100%;
    padding: 25px 0px;
    text-align: center;
  }
  .feature .title h1{
    font-size: 28px;
  }
  .feature .title p {
    font-size: 13px;
    font-weight: 400;
    color: #313841;
    font-family: 'PT Sans', sans-serif;
  }
  .media {
    display: -ms-flexbox;
    display: flex; 
    align-items: flex-start;
    padding: 0px 0px 10px 10px;
  }
  .feature .media .fa {
    font-size: 48px;
    font-weight: 700;
    margin-left: 5px;
  }
  .feature .media .fa-tablet {
    margin-left: 9px;
    font-size: 59px;
  }
  .feature .media .fa-lemon-o {
    margin-left: 7px;
  }
  .feature .media .fa-bookmark-o {
    padding: 0px 0px 0px 5px;
    font-size: 57px;
  }
  .feature .media .media-body h5 {
    font-size: 17px;
    font-weight: 700;
    color: #101010;
  }
  .footer-section .footer-top .title {
    width: 100%;
    padding: 30px 0px;
    text-align: center;
  }
  .footer-section .footer-top .title h1{
    font-size: 26px  !important;
  }
  .footer-section .footer-top .title p {
    font-size: 12px  !important;
    font-weight: 400; 
    font-family: 'PT Sans', sans-serif;
  }
  .footer-section .footer-top .form-inline {
    width: 100%; 
    padding: 0px
  }
  .footer-section .footer-top .form-group {
    width: 80%;
  }
  .footer-section .footer-top .form-inline .form-group .form-control {
    width: 98%;
    font-size: 10px;
    padding: 5px 0px;
  }
.footer-section .footer-top .form-inline .btn-primary { 
    font-size: 10px;
    padding: 5px 8px;
  }
  .footer-section .footer-top .social-icons {
    width: 100%;
    padding: 10px 0px;
    display: block;
    text-align: center;
  }
  .footer-section .footer-top .social-icons li a {
    text-align: center;
    width: 20px;
    font-size: 26px;
    height: 20px;
    line-height: 16px;
    padding: 0px;
    background: #000;
    color: #fcdb00;
    margin: 0px 8px;
  }
  .footer-section .main-footer {
    width: 100%;
    padding: 5px 0px;
  }
  .footer-section .main-footer .address{
    font-size: 13px;
    color: #fff; 
    text-align: center
  }
  .footer-section .main-footer .widget p {
    font-size: 13px;
    color: #fff; 
  }
  .footer-section .main-footer .widget ul li a {
    font-size: 13px;
    color: #fff;
  }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .header-section .menu-section .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding-left: 50px;
  }
  
  .banner .banner-text {
    width: 100%;
    padding: 0px 0px;
     text-align: center
  }
  .banner .banner-text h1 {
    font-size: 26px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 8px;
  }
  .banner .banner-text h4 {
    font-size: 17px;
    font-weight: 600;
    color: #313841;
    margin-bottom: 22px;
  }
  .banner .banner-text p {
    font-size: 11px;
    line-height: 24px;
    font-weight: 400;
    color: #555555;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 45px;
    text-align: center;
  }
  .banner .banner-text .btn-image {
    margin: 0px auto 40px;
  }
  .feature .title p {
    font-size: 14px;
    font-weight: 400;
    color: #313841;
    font-family: 'PT Sans', sans-serif;
  }
  .media {
    display: -ms-flexbox;
    display: flex; 
    align-items: flex-start;
    padding: 0px 15px 10px;
  }
  .feature .media .fa {
    font-size: 48px;
    font-weight: 700;
    margin-left: 5px;
  }
  .feature .media .fa-tablet {
    margin-left: 9px;
    font-size: 59px;
  }
  .feature .media .fa-lemon-o {
    margin-left: 7px;
  }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
   .header-section .menu-section .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding-left: 50px;
  }
  .banner .banner-text {
    width: 100%;
    padding: 0px 0px;
  }
  .banner .banner-text h1 {
    font-size: 26px;
    font-weight: 700;
    color: #010101;
    margin-bottom: 15px;
  }
  .banner .banner-text h4 {
    font-size: 18px;
    font-weight: 400;
    color: #313841;
    margin-bottom: 15px;
  }
  .banner .banner-text p {
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    color: #555555;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 45px;
  }
  .banner .banner-text {
    width: 100%;
    padding: 70px 0px;
  }
  .feature .title {
    width: 100%;
    padding: 40px 0px;
    text-align: center;
  }
  .feature .title h1 {
    font-size: 28px;
  }
  .feature .title p {
    font-size: 16px;
    font-weight: 400;
    color: #313841;
    font-family: 'PT Sans', sans-serif;
  }
  .feature .media .media-body h5 {
    font-size: 13px;
    font-weight: 700;
    color: #101010;
}
.feature .media .media-body p {
    font-size: 9px;
    font-weight: 400;
    color: #898989  
  }
}

 


